:host {
    .list-container {
        display: flex;
        justify-content: center;
        position: relative;

        .list {
            list-style: none;
            width: 400px;

            li {
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
