<div class="list-container"
     [class.loading]="isLoading"
>
    <div class="loader"></div>

    <ul class="list">
        <!--overdue-->
        <li *ngFor="let item of overdueList">
            <app-todo-row [data]="item"
                          (finishTodo)="finishTodoItem($event)"
            ></app-todo-row>
        </li>
        <!--ontrack-->
        <li *ngFor="let item of ontrackList">
            <app-todo-row [data]="item"
                          (finishTodo)="finishTodoItem($event)"
            ></app-todo-row>
        </li>
        <li *ngFor="let item of completedList">
            <app-todo-row [data]="item"
                          (finishTodo)="finishTodoItem($event)"
            ></app-todo-row>
        </li>
    </ul>
</div>

