:host {
    header {
        align-items: center;
        background-color: #637a90;
        color: #ffffff;
        display: flex;
        font-size: 1rem;
        height: 40px;
        margin-bottom: 24px;
        padding-left: 20px;
    }
}
