:host {
    .todo-row-container {
        position: relative;
    }

    .todo-row {
        align-items: center;
        background-color: #e4e2e8;
        display: flex;
        min-height: 40px;
        justify-content: flex-start;
        padding: 8px 12px;

        &--complete {
            background-color: #94f38c;

            .todo-row__description {
                text-decoration: line-through;
            }
        }

        &--overdue {
            background-color: #ec868c;
        }

        &__action {
            margin-right: 8px;
        }

        &__description {
            flex-grow: 1;
            margin-right: 8px;
        }

        &__date {
            border: 1px solid black;
            padding: 4px;
        }
    }
}
